.section{
    background-image: url(WhatsApp\ Image\ 2024-01-19\ at\ 12.37.53_3910c907.jpg);
    width: 100%;
    height:100vh ;
    background-position: center;
    background-size: cover;
}
.navbar{
    position: fixed;
    top: 0 left 50;
    width: 100%;
    z-index: 999;
    padding: 20px; 
     
}
.letters{
    color: white;
    position: absolute;
    top: 10em;
    left: 15em;
    line-height: 18px;
}
button{
    border-radius: 10px;
    width: 90px;
    height: 35px;
}
.section1{
    width: 100%;
    height:97vh ;
    background-position: center;
    background-size: cover;
}
h4{
    text-align: center;
}
.image{
    display: flex;
    justify-content: space-between;

}

.section2{
    width: 100%;
    height:97vh ;
    background-position: center;
    background-size: cover;

#logo{
    position: relative;
    top: 0;
    left: 0;
}   
}
#img1{
    position: absolute;
    margin-top: 5%;
    
    z-index: 0;
}
#img2{
    position: absolute;
    left: 13%;
    margin-top: 18%;
    z-index: 2;
}
#img3{
    position: absolute;
    margin-top: 27%;
    z-index: 1;
}
#img4{
    position: absolute;
    margin-top: 5%;
    z-index: 3;
    left: 23%;
}
.icon{
    color: white;
    display: flex;
}
.fa-solid {
    padding: 15px;
    /* justify-content: space-between; */
}
.dis{
    /* text-align: center; */
    position: absolute;
    left: 42em;
    margin-top: 13%;

}
footer{
    width: 100%;
    height: 30vh;
    background-color: #002825;
    padding: 70px;
    
}
.col{
    color: white;
}
.b{
    left: 10em;
}
.co{
    color: white;
    /* display: flex; */
    text-align: center;
    position: absolute;
    right: 20em;
    top: 119em;


}






















